---
import { SITE } from 'astrowind:config';

import '@fontsource/bungee';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <span class="tocbdye uppercase">{SITE?.name}</span>
</span>

<style>
  .tocbdye {
    font-family: 'Bungee', system-ui;
  }
</style>
